# fly.toml app configuration file generated for wallet-service-with-paystack-jwt-api-key on 2025-12-10T13:33:44Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'wallet-service-with-paystack-jwt-api-key'
primary_region = 'lhr'

[build]

[deploy]
  release_command = 'npx prisma migrate deploy'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
